<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <meta name="keywords"
          content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates"/>
    <link href="../static/css/login.css" th:href="@{/login/login.css}" rel='stylesheet' type='text/css'/>
    <!--webfonts-->
    <link href='http://fonts.lug.ustc.edu.cn/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.lug.ustc.edu.cn/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <script src="http://ajax.lug.ustc.edu.cn/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function (c) {
    $('.close').on('click', function (c) {
        $('.login-form').fadeOut('slow', function (c) {
            $('.login-form').remove();
        });
    });
});
</script>
<!--SIGN UP-->
<h1>klasikal Login Form</h1>
<div class="login-form">
    <div class="head-info">
        <label class="lbl-2">
            <input type="button" id="register" style="display: none;">
        </label>
        <label class="lbl-3">
        </label>
    </div>
    <div class="login_form">
        <div class="avtar">
            <img src="images/avtar.png" th:src="@{/login/images/avtar.png}"/>
        </div>
        <form method="post" action="/user/doLogin">
            <input name="name" type="text" class="text" value="Username"
                   onfocus="this.value = '';" onblur="if (this.value == '')
						   {this.value = 'Username';}">
            <div class="key">
                <input name="password" type="password" value="Password"
                       onfocus="this.value = '';" onblur="if (this.value == '')
						   {this.value = 'Password';}">
            </div>
            <div class="signin">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>


</div>
<div class="copy-rights">
    <p>Copyright &copy; 2015.Company name All rights reserved.</p>
</div>

<script>
    

</script>
</body>
</html>